---
layout: default
---

<!-- INTRODUCTION SECTION -->
<section class="hero">
  <!-- LEFT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.heros %}
      {% if item.position == 'left' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- HERO -->
  <div class="heroColumn">
    {% for item in site.heros %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- RIGHT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.heros %}
      {% if item.position == 'right' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

</section>

<!-- MASONRY SECTION 1 -->
<section class="masonry">
  {% for item in site.columns1 %}
    <div class="item">
      {% include article.html item=item %}
    </div>
  {% endfor %}
</section>

<!-- INTERACTIVE SECTION 1 -->
<section class="hero">
  <!-- HERO -->
  <div class="interactive">
    {% for item in site.interactive1 %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- INTERACTIVE SECTION 2-->
<section class="hero">
  <!-- HERO -->
  <div class="interactive">
    {% for item in site.interactive2 %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- INTERACTIVE SECTION 3-->
<section class="hero">
  <!-- HERO -->
  <div class="interactive">
    {% for item in site.interactive3 %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- MASONRY SECTION 2 -->
<section class="masonry">
  {% for item in site.columns2 %}
    <div class="item">
      {% include article.html item=item %}
    </div>
  {% endfor %}
</section>
